In [1]:
import pandas as pd

In [4]:
pip install pandas

Collecting pandas
  Downloading pandas-1.5.2-cp38-cp38-win32.whl (9.7 MB)
     ---------------------------------------- 9.7/9.7 MB 1.5 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.20.3 in c:\users\pallavi prajapati\appdata\local\programs\python\python38-32\lib\site-packages (from pandas) (1.23.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\pallavi prajapati\appdata\local\programs\python\python38-32\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.6-py2.py3-none-any.whl (498 kB)
     -------------------------------------- 498.1/498.1 kB 1.5 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\pallavi prajapati\appdata\local\programs\python\python38-32\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.5.2 pytz-2022.6
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

In [6]:
ls

 Volume in drive D is DATA
 Volume Serial Number is 3C79-8284

 Directory of d:\python_files\test

06-12-2022  18:06    <DIR>          .
06-12-2022  18:06    <DIR>          ..
01-11-2022  23:18            23,886 Assign_1.ipynb
04-12-2022  11:58             8,192 ineuron.db
05-12-2022  11:20            12,288 join_db.db
05-12-2022  18:59             7,205 map_reduce_filter.ipynb
04-12-2022  11:35             8,192 person.db
04-12-2022  06:29            26,716 practice_mongo.ipynb
07-12-2022  04:29             1,083 practice_pandas.ipynb
05-12-2022  16:45            26,388 sqlLite.ipynb
05-12-2022  18:45           236,180 vocab.enron.txt
05-12-2022  18:45            55,467 vocab.kos.txt
05-12-2022  18:45           100,807 vocab.nips.txt
05-12-2022  18:45         1,345,665 vocab.nytimes.txt
05-12-2022  18:45         1,460,248 vocab.pubmed.txt
              13 File(s)      3,312,317 bytes
               2 Dir(s)  773,670,465,536 bytes free

In [9]:
pd.read_csv(r'C:\Users\Pallavi Prajapati\Downloads\sample_text.csv')# putting r will converts a normal string to a raw string

      name           email_id    address  pincode       surname
0  pallavi   pallavi@gmail.com  varanasi   221001     prajapati
1    uttam     uttam@gmail.com   varansi   221901         kumar
2  ineuron  ineuron@ineuron.ai  banglore   560085  intelligence
3   pandas    pandas@gmail.com   chennai   225455     tutorial

In [10]:
import os 
l = os.listdir(r'C:\Users\Pallavi Prajapati\Downloads\Compressed\ohana-api-master\data\sample-csv')
print(l)

['addresses.csv', 'contacts.csv', 'holiday_schedules.csv', 'locations.csv', 'mail_addresses.csv', 'organizations.csv', 'phones.csv', 'programs.csv', 'regular_schedules.csv', 'services.csv', 'taxonomy.csv']

In [14]:
df = pd.read_csv(r'C:\Users\Pallavi Prajapati\Downloads\Compressed\ohana-api-master\data\sample-csv\addresses.csv')

In [15]:
type(df)#tabular structure shown on console by pandas is called dataframe

pandas.core.frame.DataFrame

In [13]:
import os 
l = os.listdir(r'C:\Users\Pallavi Prajapati\Downloads\Compressed\ohana-api-master\data\sample-csv')
path = r'C:\Users\Pallavi Prajapati\Downloads\Compressed\ohana-api-master\data\sample-csv'
for file in l:
    x = f"{path}\{file}"
    print(pd.read_csv(x))

    id  location_id                   address_1  address_2  \
0    1            1       2600 Middlefield Road        NaN
1    2            2            24 Second Avenue        NaN
2    3            3            24 Second Avenue        NaN
3    4            4            24 Second Avenue        NaN
4    5            5            24 Second Avenue        NaN
5    6            6           800 Middle Avenue        NaN
6    7            7              500 Arbor Road        NaN
7    8            8           800 Middle Avenue        NaN
8    9            9       2510 Middlefield Road        NaN
9   10           10       1044 Middlefield Road        NaN
10  11           11         2140 Euclid Avenue.        NaN
11  12           12       1044 Middlefield Road  2nd Floor
12  13           13         399 Marine Parkway.        NaN
13  14           14          660 Veterans Blvd.        NaN
14  15           15        1500 Valencia Street        NaN
15  16           16         1161 South Bernardo        NaN
16  17           17     409 South Spruce Avenue        NaN
17  18           18            114 Fifth Avenue        NaN
18  19           19         19 West 39th Avenue        NaN
19  20           21          123 El Camino Real        NaN
20  21           22  2013 Avenue of the fellows  Suite 100

                   city state_province postal_code country
0          Redwood City             CA       94063      US
1             San Mateo             CA       94401      US
2             San Mateo             CA       94403      US
3             San Mateo             CA       94401      US
4             San Mateo             CA       94401      US
5            Menlo Park             CA  94025-9881      US
6            Menlo Park             CA       94025      US
7            Menlo Park             CA  94025-9881      US
8          Redwood City             CA       94063      US
9          Redwood City             CA       94063      US
10         Redwood City             CA       94061      US
11         Redwood City             CA       94063      US
12         Redwood City             CA       94065      US
13         Redwood City             CA       94063      US
14        San Francisco             CA       94110      US
15            Sunnyvale             CA       94087      US
16  South San Francisco             CA       94080      US
17         Redwood City             CA       94063      US
18            San Mateo             CA       94403      US
19              Belmont             CA       94002      US
20        San Francisco             CA       94103      US
    id  location_id  organization_id  service_id                     name  \
0    1          1.0              NaN         NaN            Susan Houston
1    2          1.0              NaN         NaN       Christina Gonzalez
2    3          2.0              NaN         NaN             Brenda Brown
3    4          3.0              NaN         NaN       Howard Lader, LCSW
4    5          4.0              NaN         NaN       Kimberly Pesavento
5    6          5.0              NaN         NaN                Joe Bloom
6    7          6.0              NaN         NaN              Peter Olson
7    8          6.0              NaN         NaN             Bart Charlow
8    9          7.0              NaN         NaN             Bart Charlow
9   10          7.0              NaN         NaN             Barbara Kalt
10  11          8.0              NaN         NaN  Marilyn Baker-Venturini
11  12          8.0              NaN         NaN       Graciela Hernandez
12  13          8.0              NaN         NaN            Julie Avelino
13  14          9.0              NaN         NaN              Dave Genesy
14  15          9.0              NaN         NaN             Maria Kramer
15  16         10.0              NaN         NaN              Dave Genesy
16  17         10.0              NaN         NaN             Maria Kramer
17  18         11.0              NaN         NaN              Dave Genesy
18  19         11.0              NaN         NaN          Elizabeth Meeks
19  20         12.0              NaN         NaN             Kathy Endaya
20  21         13.0              NaN         NaN              Dave Genesy
21  22         14.0              NaN         NaN          Andres Espinoza
22  23         15.0              NaN         NaN            Jack Phillips
23  24         16.0              NaN         NaN                James Lee
24  25         17.0              NaN         NaN           Kenneth Gibson
25  26         18.0              NaN         NaN          Sharon Petersen
26  27         19.0              NaN         NaN          Sharon Petersen
27  28         21.0              NaN         NaN                   Moncef
28  29         22.0              NaN         NaN        Suzanne Badenhoop
29  32          NaN              8.0         NaN         Elizabeth Feeney
30  36          NaN              NaN        22.0                Joe Smith

                                              title                   email  \
0                  Director of Older Adult Services                     NaN
1                                   Center Director                     NaN
2                  Director, Second Career Services                     NaN
3                   Manager, Senior Peer Counseling                     NaN
4                            Director of Visitation                     NaN
5   Financial Empowerment Programs Program Director                     NaN
6                             Little House Director                     NaN
7          Executive Director, Peninsula Volunteers                     NaN
8          Executive Director, Peninsula Volunteers                     NaN
9                                          Director                     NaN
10                                         Director                     NaN
11                                Assistant Manager                     NaN
12                            Assessment Specialist                     NaN
13                                 Library Director                     NaN
14                        Library Divisions Manager                     NaN
15                                 Library Director                     NaN
16                         Library Division Manager                     NaN
17                                 Library Director                     NaN
18                                   Branch Manager                     NaN
19                                         Director                     NaN
20                                 Library Director                     NaN
21                      Captain, Commanding Officer                     NaN
22                                    Administrator                     NaN
23                               Commanding Officer                     NaN
24                                            Major                     NaN
25                                    Administrator                     NaN
26                                    Administrator                     NaN
27                                              NaN                     NaN
28                                  Board President     suzanne@example.com
29                                              CEO     e.feeney@foobar.org
30                              CalFresh Specialist  john.smith@example.org

               department
0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN
5                     NaN
6                     NaN
7                     NaN
8                     NaN
9                     NaN
10                    NaN
11                    NaN
12                    NaN
13                    NaN
14                    NaN
15                    NaN
16                    NaN
17                    NaN
18                    NaN
19                    NaN
20                    NaN
21                    NaN
22                    NaN
23                    NaN
24                    NaN
25                    NaN
26                    NaN
27   Office of Innovation
28              Referrals
29             Operations
30  CalFresh Applications
   id  location_id  service_id        start_date            end_date  closed  \
0   1         22.0         NaN  January 01, 0001    January 01, 0001    True
1   2         22.0         NaN        12/24/2015            12/24/15   False
2   3         22.0         NaN     June 01, 0001  September 01, 0001    True
3   4          NaN        22.0  January 01, 0001    January 01, 0001    True

  opens_at closes_at
0      NaN       NaN
1    10:00     16:00
2      NaN       NaN
3      NaN       NaN
    id  organization_id                                      accessibility  \
0    1                1       disabled_parking, ramp, restroom, wheelchair
1    2                1                                         wheelchair
2    3                1                                                NaN
3    4                1                                         wheelchair
4    5                1                                         wheelchair
5    6                2                       disabled_parking, wheelchair
6    7                2       ramp, restroom, disabled_parking, wheelchair
7    8                2                                                NaN
8    9                3                         ramp, restroom, wheelchair
9   10                3  elevator, tape_braille, ramp, restroom, disabl...
10  11                3                                               ramp
11  12                3         disabled_parking, elevator, ramp, restroom
12  13                3                                                NaN
13  14                4                                         wheelchair
14  15                4                                         wheelchair
15  16                4                                                NaN
16  17                4                                         wheelchair
17  18                5                           cd, restroom, wheelchair
18  19                5                         elevator, ramp, wheelchair
19  20                6                                                NaN
20  21                7                                 elevator, restroom
21  22                8             disabled_parking, restroom, wheelchair

       admin_emails alternate_name  \
0               NaN            NaN
1               NaN            NaN
2               NaN            NaN
3               NaN            NaN
4               NaN            NaN
5               NaN            NaN
6               NaN            NaN
7               NaN            NaN
8               NaN            NaN
9               NaN            NaN
10              NaN            NaN
11  ohana@gmail.com            NaN
12              NaN            NaN
13              NaN            NaN
14              NaN            NaN
15              NaN            NaN
16              NaN            NaN
17              NaN            NaN
18              NaN            NaN
19              NaN            NaN
20              NaN            NaN
21      foo@bar.com  The Test Spot

                                          description             email  \
0   A walk-in center for older adults that provide...               NaN
1   Provides training and job placement to eligibl...               NaN
2   Offers supportive counseling services to San M...               NaN
3   Provides supervised visitation services and a ...               NaN
4   Provides fixed 8% short term loans to eligible...               NaN
5   A multipurpose center offering a wide variety ...               NaN
6   Rosener House is a day center for older adults...               NaN
7   Delivers a hot meal to the home of persons age...               NaN
8   Provides general reading material, including b...               NaN
9   Provides general reading and media materials, ...               NaN
10  Provides general reading materials, including ...               NaN
11  Offers an intergenerational literacy program f...               NaN
12  Provides general reading materials, including ...               NaN
13  Provides food, clothing, bus tokens and shelte...               NaN
14  Provides a long-term (6-12 month) residential ...               NaN
15  Provides emergency assistance including food a...               NaN
16  Provides emergency food, clothing and furnitur...               NaN
17  Provides free medical care to those in need. O...               NaN
18  Provides free medical and dental care to those...               NaN
19                                           no phone               NaN
20                              This is a description               NaN
21  [NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...  info@example.org

                                            languages   latitude   longitude  \
0                                    Spanish, Tagalog  37.477227 -122.213221
1       Chinese (Mandarin), Tagalog, Italian, Spanish  37.563984 -122.325799
2   Chinese (Cantonese), Chinese (Mandarin), Tagal...  37.563984 -122.325799
3                                             Spanish  37.563984 -122.325799
4                                      Hindi, Spanish  37.563984 -122.325799
5                                    Tagalog, Spanish  37.448020 -122.180590
6                        Spanish, Tagalog, Vietnamese  37.444178 -122.183093
7                                             Spanish  37.448020 -122.180590
8                                             Spanish  37.478502 -122.214143
9                                             Spanish  37.483842 -122.227395
10                                                NaN  37.466553 -122.243090
11                                                NaN  37.483842 -122.227395
12                                                NaN  37.530423 -122.258643
13                                            Spanish  37.491386 -122.231568
14                                            Spanish  37.748899 -122.420367
15                                             Korean  37.356900 -122.060002
16                                                NaN  37.644590 -122.422490
17                                            Spanish  37.468614 -122.206798
18                                            Spanish  37.532694 -122.293124
19                                                NaN        NaN         NaN
20                                                NaN  37.529194 -122.287161
21    Cantonese, Russian, Spanish, Tagalog, Taiwanese  37.772640 -122.409915

                                   name  \
0       Fair Oaks Adult Activity Center
1      Second Career Employment Program
2                Senior Peer Counseling
3              Family Visitation Center
4   Economic Self - Sufficiency Program
5                          Little House
6      Rosener House Adult Day Services
7        Meals on Wheels - South County
8                      Fair Oaks Branch
9                          Main Library
10                      Schaberg Branch
11                         Project Read
12                Redwood Shores Branch
13                   Redwood City Corps
14          Adult Rehabilitation Center
15                      Sunnyvale Corps
16    South San Francisco Citadel Corps
17     Redwood City Free Medical Clinic
18        San Mateo Free Medical Clinic
19               Location with no phone
20                  Admin Test Location
21                     Example Location

                                           short_desc  \
0   A multipurpose senior citizens' center serving...
1   Provides training and job placement to eligibl...
2   Offers supportive counseling services to older...
3   Provides supervised visitation services and a ...
4              Makes small loans to working families.
5             A multipurpose senior citizens' center.
6             A day center for adults age 50 or over.
7   Will deliver a hot meal to the home of persons...
8   Provides general reading materials and referen...
9   Provides general reference and reading materia...
10  Provides general reading materials and referen...
11  Offers an intergenerational literacy program f...
12  Provides general reading materials and referen...
13  Provides a variety of emergency services to lo...
14  Long-term (6-12 month) residential treatment p...
15  Provides emergency assistance to persons in im...
16  Provides emergency food and clothing and furni...
17       Provides free medical care to those in need.
18  Provides free medical and dental care to those...
19                                           no phone
20                        This is a short description
21  [NOTE THIS IS NOT A REAL ENTRY--THIS IS FOR TE...

                                       transportation  \
0                            SAMTRANS stops in front.
1   SAMTRANS stops within 1 block, CALTRAIN stops ...
2   Service is provided in person's home or at a m...
3   SAMTRANS stops within 1 block, CALTRAIN stops ...
4   SAMTRANS stops within 1 block. CALTRAIN stops ...
5   SAMTRANS stops within 3 blocks, RediWheels and...
6   Transportation can be arranged via Redi-Wheels...
7                          Not necessary for service.
8                            SAMTRANS stops in front.
9   SAMTRANS stops within 1 block; CALTRAIN stops ...
10                     SAMTRANS stops within 1 block.
11                     SAMTRANS stops within 1 block.
12                                                NaN
13                             SAMTRANS stops nearby.
14          MUNI - 26 Valencia, Mission Street lines.
15                         VTA stops within 4 blocks.
16  SAMTRANS stops within 1 block, BART stops with...
17                    SAMTRANS stops within 2 blocks.
18                     SAMTRANS stops within 1 block.
19                                                NaN
20                    SAMTRANS stops within 1/2 mile.
21                      SAMTRANS stops within 1 block

                          website  virtual
0                             NaN    False
1                             NaN    False
2                             NaN    False
3                             NaN    False
4                             NaN    False
5                             NaN    False
6                             NaN    False
7                             NaN    False
8                             NaN    False
9                             NaN    False
10                            NaN    False
11                            NaN    False
12                            NaN    False
13                            NaN    False
14                            NaN    False
15                            NaN    False
16                            NaN    False
17  http://www.samaritanhouse.com    False
18  http://www.samaritanhouse.com    False
19                            NaN     True
20                            NaN    False
21         http://www.example.org    False
    id  location_id                            attention  \
0    1            1   Fair Oaks Intergenerational Center
1    2            2           PFS Second Career Services
2    3            3           PFS Senior Peer Counseling
3    4            4         PFS Family Visitation Center
4    5            5  Economic Self - Sufficiency Program
5    6            6                         Little House
6    7            7                        Rosener House
7    8            8       Meals on Wheels - South County
8    9            9                     Fair Oaks Branch
9   10           10                         Main Library
10  11           11                      Schaberg Branch
11  12           12                         Project Read
12  13           13                Redwood Shores Branch
13  14           14                       Salvation Army

In [17]:
pd.read_csv(r'C:\Users\Pallavi Prajapati\Downloads\Compressed\ohana-api-master\data\sample-csv\addresses.csv', header=None)

,0,1,2,3,4,5,6,7
0,id,location_id,address_1,address_2,city,state_province,postal_code,country
1,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
2,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
3,3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
4,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
5,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US
6,6,6,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
7,7,7,500 Arbor Road,NaN,Menlo Park,CA,94025,US
8,8,8,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
9,9,9,2510 Middlefield Road,NaN,Redwood City,CA,94063,US
10,10,10,1044 Middlefield Road,NaN,Redwood City,CA,94063,US
11,11,11,2140 Euclid Avenue.,NaN,Redwood City,CA,94061,US
12,12,12,1044 Middlefield Road,2nd Floor,Redwood City,CA,94063,US
13,13,13,399 Marine Parkway.,NaN,Redwood City,CA,94065,US
14,14,14,660 Veterans Blvd.,NaN,Redwood City,CA,94063,US
15,15,15,1500 Valencia Street,NaN,San Francisco,CA,94110,US
16,16,16,1161 South Bernardo,NaN,Sunnyvale,CA,94087,US
17,17,17,409 South Spruce Avenue,NaN,South San Francisco,CA,94080,US
18,18,18,114 Fifth Avenue,NaN,Redwood City,CA,94063,US
19,19,19,19 West 39th Avenue,NaN,San Mateo,CA,94403,US
20,20,21,123 El Camino Real,NaN,Belmont,CA,94002,US
21,21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US

In [18]:
pd.read_csv(r'C:\Users\Pallavi Prajapati\Downloads\Compressed\ohana-api-master\data\sample-csv\addresses.csv', names=['a','b','c','d','e','f','g','h'])

,a,b,c,d,e,f,g,h
0,id,location_id,address_1,address_2,city,state_province,postal_code,country
1,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
2,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
3,3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
4,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
5,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US
6,6,6,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
7,7,7,500 Arbor Road,NaN,Menlo Park,CA,94025,US
8,8,8,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
9,9,9,2510 Middlefield Road,NaN,Redwood City,CA,94063,US
10,10,10,1044 Middlefield Road,NaN,Redwood City,CA,94063,US
11,11,11,2140 Euclid Avenue.,NaN,Redwood City,CA,94061,US
12,12,12,1044 Middlefield Road,2nd Floor,Redwood City,CA,94063,US
13,13,13,399 Marine Parkway.,NaN,Redwood City,CA,94065,US
14,14,14,660 Veterans Blvd.,NaN,Redwood City,CA,94063,US
15,15,15,1500 Valencia Street,NaN,San Francisco,CA,94110,US
16,16,16,1161 South Bernardo,NaN,Sunnyvale,CA,94087,US
17,17,17,409 South Spruce Avenue,NaN,South San Francisco,CA,94080,US
18,18,18,114 Fifth Avenue,NaN,Redwood City,CA,94063,US
19,19,19,19 West 39th Avenue,NaN,San Mateo,CA,94403,US
20,20,21,123 El Camino Real,NaN,Belmont,CA,94002,US
21,21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US

In [19]:
#if wev will provide extra names of col itwill create new col
pd.read_csv(r'C:\Users\Pallavi Prajapati\Downloads\Compressed\ohana-api-master\data\sample-csv\addresses.csv', names=['a','b','c','d','e','f','g','h','i','j'])

,a,b,c,d,e,f,g,h,i,j
0,id,location_id,address_1,address_2,city,state_province,postal_code,country,NaN,NaN
1,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US,NaN,NaN
2,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US,NaN,NaN
3,3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US,NaN,NaN
4,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US,NaN,NaN
5,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US,NaN,NaN
6,6,6,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US,NaN,NaN
7,7,7,500 Arbor Road,NaN,Menlo Park,CA,94025,US,NaN,NaN
8,8,8,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US,NaN,NaN
9,9,9,2510 Middlefield Road,NaN,Redwood City,CA,94063,US,NaN,NaN
10,10,10,1044 Middlefield Road,NaN,Redwood City,CA,94063,US,NaN,NaN
11,11,11,2140 Euclid Avenue.,NaN,Redwood City,CA,94061,US,NaN,NaN
12,12,12,1044 Middlefield Road,2nd Floor,Redwood City,CA,94063,US,NaN,NaN
13,13,13,399 Marine Parkway.,NaN,Redwood City,CA,94065,US,NaN,NaN
14,14,14,660 Veterans Blvd.,NaN,Redwood City,CA,94063,US,NaN,NaN
15,15,15,1500 Valencia Street,NaN,San Francisco,CA,94110,US,NaN,NaN
16,16,16,1161 South Bernardo,NaN,Sunnyvale,CA,94087,US,NaN,NaN
17,17,17,409 South Spruce Avenue,NaN,South San Francisco,CA,94080,US,NaN,NaN
18,18,18,114 Fifth Avenue,NaN,Redwood City,CA,94063,US,NaN,NaN
19,19,19,19 West 39th Avenue,NaN,San Mateo,CA,94403,US,NaN,NaN
20,20,21,123 El Camino Real,NaN,Belmont,CA,94002,US,NaN,NaN
21,21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US,NaN,NaN

In [28]:
# as lesser than required it will convert from left columns into row ids
df1 = pd.read_csv(r'C:\Users\Pallavi Prajapati\Downloads\Compressed\ohana-api-master\data\sample-csv\addresses.csv', names=['a','b','c','d','e'])

In [30]:
df1.dtypes

a    object
b    object
c    object
d    object
e    object
dtype: object

In [22]:
pd.read_csv(r'C:\Users\Pallavi Prajapati\Downloads\sample_text.csv')# putting r will converts a normal string to a raw string

              name|email_id |address|pincode|surname
0  pallavi|pallavi@gmail.com|varanasi|221001|praj...
1         uttam|uttam@gmail.com|varansi|221901|kumar
2  ineuron|ineuron@ineuron.ai|banglore|560085|int...
3   pandas|pandas@gmail.com|chennai|225455|tutorial

In [23]:
pd.read_csv(r'C:\Users\Pallavi Prajapati\Downloads\sample_text.csv', sep='|')# putting r will converts a normal string to a raw string

      name           email_id    address  pincode       surname
0  pallavi   pallavi@gmail.com  varanasi   221001     prajapati
1    uttam     uttam@gmail.com   varansi   221901         kumar
2  ineuron  ineuron@ineuron.ai  banglore   560085  intelligence
3   pandas    pandas@gmail.com   chennai   225455     tutorial

In [25]:
pd.read_csv(r'C:\Users\Pallavi Prajapati\Downloads\sample_text.csv', sep='| ',skiprows=[2,4])# putting r will converts a normal string to a raw string

      name           email_id    address  pincode       surname
0  pallavi   pallavi@gmail.com  varanasi   221001     prajapati
1  ineuron  ineuron@ineuron.ai  banglore   560085  intelligence

In [26]:
df = pd.read_csv(r'C:\Users\Pallavi Prajapati\Downloads\sample_text.csv')# putting r will converts a normal string to a raw string

In [27]:
df.dtypes

name|email_id |address|pincode|surname    object
dtype: object

In [31]:
df2 = pd.read_csv(r'C:\Users\Pallavi Prajapati\Downloads\Compressed\ohana-api-master\data\sample-csv\services.csv')

In [32]:
df2.dtypes #to know respective datatype of each column

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [33]:
type(df2)

pandas.core.frame.DataFrame

In [34]:
df2.head() # show only 5 records from start

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [35]:
df2.head(2)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN

In [36]:
df2.tail()  # show only 5 records from buttom

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [37]:
df2.tail(2)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [38]:
df2.columns# show all col in a file

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [40]:
df2['email'] #show single colom data

0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
5                       NaN
6                       NaN
7                       NaN
8                       NaN
9                       NaN
10                      NaN
11                      NaN
12                      NaN
13                      NaN
14                      NaN
15                      NaN
16                      NaN
17                      NaN
18                      NaN
19                      NaN
20                      NaN
21    passports@example.org
22                      NaN
Name: email, dtype: object

In [41]:
df2['application_process']

0                            Walk in or apply by phone.
1                    Apply by phone for an appointment.
2           Phone for information (403-4300 Ext. 4322).
3                                       Apply by phone.
4                                Phone for information.
5     Walk in or apply by phone for membership appli...
6     Apply by phone or be referred by a doctor, soc...
7                                       Apply by phone.
8     Walk in. Proof of residency in California requ...
9     Walk in. Proof of California residency to rece...
10    Walk in. Proof of California residency require...
11    Walk in or apply by phone, email or webpage re...
12    Walk in. Proof of California residency require...
13    Call for appointment. Referral from human serv...
14            Walk in or through other agency referral.
15    Walk in. Written application, identification r...
16                                Call for information.
17    Call for screening appointment. Medical visits...
18       Call for screening appointment (650-347-3648).
19                                             Walk in.
20                      By phone during business hours.
21                    Walk in or apply by phone or mail
22                    Walk in or apply by phone or mail
Name: application_process, dtype: object

In [42]:
x = df2['name']

In [43]:
type(x)

pandas.core.series.Series

In [ ]:
DATATYPE ====
dataframe => whole tabular structure (row * column)
series => single column or single row which is eqivalent to list but known as series instead

In [44]:
df2['name', 'location_id']

KeyError: ('name', 'location_id')

In [46]:
df2[['name', 'location_id','id']] #for multiple columns pas it whitin a square bracket as list of columns

                                    name  location_id  id
0        Fair Oaks Adult Activity Center            1   1
1       Second Career Employment Program            2   2
2                 Senior Peer Counseling            3   3
3               Family Visitation Center            4   4
4      Economic Self-Sufficiency Program            5   5
5   Little House Recreational Activities            6   6
6       Rosener House Adult Day Services            7   7
7         Meals on Wheels - South County            8   8
8                       Fair Oaks Branch            9   9
9                           Main Library           10  10
10                       Schaberg Branch           11  11
11                          Project Read           12  12
12                 Redwood Shores Branch           13  13
13                    Redwood City Corps           14  14
14           Adult Rehabilitation Center           15  15
15                       Sunnyvale Corps           16  16
16     South San Francisco Citadel Corps           17  17
17                         Project Smile           18  18
18         San Mateo Free Medical Clinic           19  19
19             Service with blank fields           20  20
20       Service for Admin Test Location           21  21
21                       Passport Photos           22  22
22                  Example Service Name           22  23

In [47]:
a = df2[['name', 'location_id','id']]

In [48]:
type(a)

pandas.core.frame.DataFrame

In [51]:
x = df2[['name']]

In [52]:
type(x)

pandas.core.frame.DataFrame

In [57]:
pd.read_excel('LUSID Excel - Manage Orders.xlsx')

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [58]:
pip install openpyxl

Collecting openpyxlNote: you may need to restart the kernel to use updated packages.

  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     ------------------------------------ 242.1/242.1 kB 345.1 kB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [59]:
pd.read_excel('LUSID Excel - Manage Orders.xlsx')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,This sheet allows you to manage executions:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1. List executions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2. Get execution,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3. Upsert executions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,NaN,NaN,Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,MyExecutionCode01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
pd.read_excel('LUSID Excel - Manage Orders.xlsx', sheet_name='Allocations')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,This sheet allows you to manage Allocations:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1. ListAllocations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2. GetAllocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3. UpsertAllocations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,MyAllocation001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,NaN,MyAllocation002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
df = pd.read_excel('LUSID Excel - Manage Orders.xlsx')

In [63]:
df.keys()

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18'],
      dtype='object')

In [64]:
df1 = pd.ExcelFile('LUSID Excel - Manage Orders.xlsx')

In [65]:
df1.sheet_names

['Executions', 'Orders', 'Allocations', 'Placements', 'Blocks']

In [67]:
# type(df)
type(df1)

pandas.io.excel._base.ExcelFile

In [71]:
for i in df1.sheet_names:
    pd.read_excel('LUSID Excel - Manage Orders.xlsx',sheet_name = i)

In [2]:
pd.read_csv('https://github.com/datasciencedojo/datasets/blob/master/titanic.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 29, saw 367

In [3]:
pd.read_csv(r'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

URLError: <urlopen error [WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond>