In [1]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://pallavi:pallavi@cluster0.irbdlow.mongodb.net/?retryWrites=true&w=majority") #client is nothing but a variable holding an entire connection for my localsytem to mongo atlas
db = client.test
print(db)

Database(MongoClient(host=['ac-jwp4lm1-shard-00-02.irbdlow.mongodb.net:27017', 'ac-jwp4lm1-shard-00-01.irbdlow.mongodb.net:27017', 'ac-jwp4lm1-shard-00-00.irbdlow.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-if3xna-shard-0', tls=True), 'test')

In [3]:
!pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in c:\users\pallavi prajapati\appdata\local\programs\python\python38-32\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\pallavi prajapati\appdata\local\programs\python\python38-32\lib\site-packages (from pymongo[srv]) (2.2.1)

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
db1 = client.test1

In [2]:
db2 = client['uttam'] # databse creation db2 is pointing to my database named uttam

In [11]:
db3 = client['sample_mflix']

In [12]:
client.list_database_names() # to show all databases present in form of list

['sample_mflix', 'sample_training', 'uttam', 'admin', 'local']

In [3]:
col1 = db2['ineuron_table'] # table or in mongodb collection is created and var col1 is pointing to my collection ineuron_table

In [13]:
col2 = db3['comments']

In [8]:
dict1 = {
    "name" : "pallavi",
    "email" : "pallavi@gmail.com",
    "product" : ["one_neuron", "tech", "kids", 56],
    "company" : "pallavi private limited"
}

In [9]:
dict2 = {
    "name" : "pp",
    "email" : "pallavi@gmail.com",
    "product" : ["one_neuron", "tech", "kids", 56],
    "company" : "pvt ltd"
}

In [10]:
col1.insert_one(dict2)      #inserting only single data into collection(ineuron_table)

In [11]:
col1.insert_one(dict1)

In [12]:
dict3 = {
    "name" : "pp",
    "email" : "pallavi@gmail.com",
    "product" : ["one_neuron", "tech", "kids", 56],
    "company" : "pvt ltd",
    "phone_number" : 79942025142
}

In [13]:
col1.insert_one(dict3)

In [14]:
dict4 = {
    "_id" : "pp012234",
    "name" : "pp",
    "email" : "pallavi@gmail.com",
    "product" : ["one_neuron", "tech", "kids", 56],
    "company" : "pvt ltd",
    "phone_number" : 79942025142
}

In [ ]:
col1.insert_one(dict4)

In [19]:
list1 = [
    {
    "name" : "pp",
    "email" : "pallavi@gmail.com",
    "product" : ["one_neuron", "tech", "kids", 56],
    "company" : "pvt ltd",
    "phone_number" : 79942025142
    },
    {
    "name" : "pp",
    "email" : "pallavi@gmail.com",
    "product" : ["one_neuron", "tech", "kids", 56],
    "company" : "pvt ltd",
    "phone_number" : 79942025142
    },
    {
    "name" : "pp",
    "email" : "pallavi@gmail.com",
    "product" : ["one_neuron", "tech", "kids", 56],
    "company" : "pvt ltd",
    "phone_number" : 79942025142
    },
]

In [20]:
col1.insert_many(list1)

In [9]:
for i in col1.find():   # select statement same as in MySQL 
    print(i)

{'_id': ObjectId('638ad4c21c630b8ad97be547'), 'name': 'pppp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd'}
{'_id': ObjectId('638ad4ee1c630b8ad97be548'), 'name': 'pallavi', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pallavi private limited'}
{'_id': ObjectId('638ad60f1c630b8ad97be549'), 'name': 'pp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142}
{'_id': 'pp012234', 'name': 'pp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142}
{'_id': ObjectId('638ae4086f18083794690e1a'), 'name': 'pp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd'}
{'_id': ObjectId('638ae4086f18083794690e1b'), 'name': 'pallavi', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pallavi private limited'}
{'_id': ObjectId('638ae4086f18083794690e1c'), 'name': 'pp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142}
{'_id': ObjectId('638ae4596f18083794690e1f'), 'name': 'pp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142}
{'_id': ObjectId('638ae4596f18083794690e1d'), 'name': 'pp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142}
{'_id': ObjectId('638ae4596f18083794690e1e'), 'name': 'pp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142}

In [6]:
for i in col1.find({"_id":"pp012234"}): #find all records where id is pp012234
    print(i)

{'_id': 'pp012234', 'name': 'pp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142}

In [7]:
for i in col1.find({"name":{"$in":["pall", "pallavi","pp"]}}): # $in is a command to search within a given list of items
    print(i)

{'_id': ObjectId('638ad4ee1c630b8ad97be548'), 'name': 'pallavi', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pallavi private limited'}
{'_id': ObjectId('638ad60f1c630b8ad97be549'), 'name': 'pp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142}
{'_id': 'pp012234', 'name': 'pp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142}
{'_id': ObjectId('638ae4086f18083794690e1a'), 'name': 'pp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd'}
{'_id': ObjectId('638ae4086f18083794690e1b'), 'name': 'pallavi', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pallavi private limited'}
{'_id': ObjectId('638ae4086f18083794690e1c'), 'name': 'pp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142}
{'_id': ObjectId('638ae4596f18083794690e1f'), 'name': 'pp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142}
{'_id': ObjectId('638ae4596f18083794690e1d'), 'name': 'pp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142}
{'_id': ObjectId('638ae4596f18083794690e1e'), 'name': 'pp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142}

In [10]:
for i in col1.find({"name":{"$in":["pall", "pallavi","pp"]}, "email":"pavi@gmail.com"}): # $in is a command to search within a given list of items and here there are two conditions that is where name is ... and email is ...
    print(i)

In [ ]:
for i in col2.find():
    print(i)

In [25]:
col2.find_one()

{'_id': ObjectId('5a9427648b0beebeb69579e7'),
 'name': 'Mercedes Tyler',
 'email': 'mercedes_tyler@fakegmail.com',
 'movie_id': ObjectId('573a1390f29313caabcd4323'),
 'text': 'Eius veritatis vero facilis quaerat fuga temporibus. Praesentium expedita sequi repellat id. Corporis minima enim ex. Provident fugit nisi dignissimos nulla nam ipsum aliquam.',
 'date': datetime.datetime(2002, 8, 18, 4, 56, 7)}

In [29]:
for i in col1.find({"qty":{'$gt': 25}}):
    print(i)

# for i in col1.find({"qty":{'$gte': 25}}):
#     print(i)

{'_id': ObjectId('638ad4ee1c630b8ad97be548'), 'name': 'pallavi', 'email': 'pall@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pallavi private limited', 'qty': 85}
{'_id': 'pp012234', 'name': 'pp', 'email': 'pall@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142, 'qty': 100}
{'_id': ObjectId('638ae4086f18083794690e1b'), 'name': 'pallavi', 'email': 'pp@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pallavi private limited', 'qty': 120}
{'_id': ObjectId('638ae4596f18083794690e1f'), 'name': 'pp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142, 'qty': 75}
{'_id': ObjectId('638ae4596f18083794690e1d'), 'name': 'pp', 'email': 'pp@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142, 'qty': 45}

In [30]:
for i in col1.find({"qty":{"$lt": 25}}):
    print(i)

{'_id': ObjectId('638ad60f1c630b8ad97be549'), 'name': 'pp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142, 'qty': 20}
{'_id': ObjectId('638ae4086f18083794690e1a'), 'name': 'pp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'qty': 19}
{'_id': ObjectId('638ae4596f18083794690e1e'), 'name': 'pp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142, 'qty': 23}

In [31]:
for i in col1.find({"qty":{"$lte": 25}}):
    print(i)

{'_id': ObjectId('638ad4c21c630b8ad97be547'), 'name': 'pppp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'qty': 25}
{'_id': ObjectId('638ad60f1c630b8ad97be549'), 'name': 'pp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142, 'qty': 20}
{'_id': ObjectId('638ae4086f18083794690e1a'), 'name': 'pp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'qty': 19}
{'_id': ObjectId('638ae4086f18083794690e1c'), 'name': 'pp', 'email': 'pp@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142, 'qty': 25}
{'_id': ObjectId('638ae4596f18083794690e1e'), 'name': 'pp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142, 'qty': 23}

In [28]:
for i in col1.find():
    print(i)

{'_id': ObjectId('638ad4c21c630b8ad97be547'), 'name': 'pppp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'qty': 25}
{'_id': ObjectId('638ad4ee1c630b8ad97be548'), 'name': 'pallavi', 'email': 'pall@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pallavi private limited', 'qty': 85}
{'_id': ObjectId('638ad60f1c630b8ad97be549'), 'name': 'pp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142, 'qty': 20}
{'_id': 'pp012234', 'name': 'pp', 'email': 'pall@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142, 'qty': 100}
{'_id': ObjectId('638ae4086f18083794690e1a'), 'name': 'pp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'qty': 19}
{'_id': ObjectId('638ae4086f18083794690e1b'), 'name': 'pallavi', 'email': 'pp@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pallavi private limited', 'qty': 120}
{'_id': ObjectId('638ae4086f18083794690e1c'), 'name': 'pp', 'email': 'pp@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142, 'qty': 25}
{'_id': ObjectId('638ae4596f18083794690e1f'), 'name': 'pp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142, 'qty': 75}
{'_id': ObjectId('638ae4596f18083794690e1d'), 'name': 'pp', 'email': 'pp@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142, 'qty': 45}
{'_id': ObjectId('638ae4596f18083794690e1e'), 'name': 'pp', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142, 'qty': 23}

In [32]:
col1.update_one({"name":"pallavi"},{"$set":{"name":"pall"}})

In [33]:
col1.update_one({"name":"pppp"},{"$set":{"name":"pall"}}) #update only one record

In [34]:
col1.update_many({"name":"pp"},{"$set":{"name":"pall"}})

In [36]:
# for i in col1.find().limit(4):#limit function to have that much records to display on current screen
#     print(i)

for i in col1.find().limit(2):#limit function to have that much records to display on current screen
    print(i)

{'_id': ObjectId('638ad4c21c630b8ad97be547'), 'name': 'pall', 'email': 'pallavi@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'qty': 25}
{'_id': ObjectId('638ad4ee1c630b8ad97be548'), 'name': 'pall', 'email': 'pall@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pallavi private limited', 'qty': 85}

In [39]:
# for i in col1.find({"qty":{"$not":{"$gt":45}}}): # not greater than some value
#     print(i)

for i in col1.find({"qty":{"$not":{"$lt":100}}}): # not greater than some value
    print(i)

{'_id': 'pp012234', 'name': 'pall', 'email': 'pall@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pvt ltd', 'phone_number': 79942025142, 'qty': 100}
{'_id': ObjectId('638ae4086f18083794690e1b'), 'name': 'pallavi', 'email': 'pp@gmail.com', 'product': ['one_neuron', 'tech', 'kids', 56], 'company': 'pallavi private limited', 'qty': 120}

In [40]:
col1.find_one_and_update({"email":"pall@gmail.com"},{"$set":{"qty":270}})

{'_id': ObjectId('638ad4ee1c630b8ad97be548'),
 'name': 'pall',
 'email': 'pall@gmail.com',
 'product': ['one_neuron', 'tech', 'kids', 56],
 'company': 'pallavi private limited',
 'qty': 85}

In [4]:
col1.update_many({"qty":{"$gt":100}},{"$set":{"company": "pp pvt ltd"}})

In [5]:
list2 = [
        {
            "item": "canvas",
            "qty": 100,
            "size": {"h": 28, "w": 35.5, "uom": "cm"},
            "status": "A",
        },
        {
            "item": "journal",
            "qty": 25,
            "size": {"h": 14, "w": 21, "uom": "cm"},
            "status": "A",
        },
        {
            "item": "mat",
            "qty": 85,
            "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
            "status": "A",
        },
        {
            "item": "mousepad",
            "qty": 25,
            "size": {"h": 19, "w": 22.85, "uom": "cm"},
            "status": "P",
        },
        {
            "item": "notebook",
            "qty": 50,
            "size": {"h": 8.5, "w": 11, "uom": "in"},
            "status": "P",
        },
        {
            "item": "paper",
            "qty": 100,
            "size": {"h": 8.5, "w": 11, "uom": "in"},
            "status": "D",
        },
        {
            "item": "planner",
            "qty": 75,
            "size": {"h": 22.85, "w": 30, "uom": "cm"},
            "status": "D",
        },
        {
            "item": "postcard",
            "qty": 45,
            "size": {"h": 10, "w": 15.25, "uom": "cm"},
            "status": "A",
        },
        {
            "item": "sketchbook",
            "qty": 80,
            "size": {"h": 14, "w": 21, "uom": "cm"},
            "status": "A",
        },
        {
            "item": "sketch pad",
            "qty": 95,
            "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
            "status": "A",
        },
    ]

In [6]:
tbl2 = db2['item_list']

In [7]:
tbl2.insert_many(list2)

--------------------------------------------------------------------with function---------------------------------------------------------------------