In [4]:
import sqlite3

In [5]:
db =  sqlite3.connect("ineuron.db") # .db file s to store a data into structure format

In [6]:
ls

 Volume in drive D is DATA
 Volume Serial Number is 3C79-8284

 Directory of d:\python_files\test

04-12-2022  06:51    <DIR>          .
04-12-2022  06:51    <DIR>          ..
01-11-2022  23:18            23,886 Assign_1.ipynb
04-12-2022  06:49             8,192 ineuron.db
04-12-2022  06:51             4,616 ineuron.db-journal
04-12-2022  06:29            26,716 practice_mongo.ipynb
04-12-2022  06:55             2,903 sqlLite.ipynb
               5 File(s)         66,313 bytes
               2 Dir(s)  776,298,065,920 bytes free

In [7]:
c = db.cursor()

In [ ]:
c.execute('create table fsds(name text,batchId int, marks real)')

In [9]:
c.execute('insert into fsds values("pallavi",3555,4456.89)')

In [10]:
c.execute('insert into fsds values("pallavi",3555,4456.89)')
c.execute('insert into fsds values("pallavi",3555,4456.89)')
c.execute('insert into fsds values("pallavi",3555,4456.89)')
c.execute('insert into fsds values("pallavi",3555,4456.89)')

In [11]:
for i in c.execute('select * from fsds'):
    print(i)

('pallavi', 3555, 4456.89)
('pallavi', 3555, 4456.89)
('pallavi', 3555, 4456.89)
('pallavi', 3555, 4456.89)
('pallavi', 3555, 4456.89)

In [12]:
db.commit()

In [13]:
db.close()# it will close all connection that is related to db variable

In [14]:
 #to connect again to the same file ineuron.db
db = sqlite3.connect("ineuron.db")

In [15]:
c = db.cursor()

In [16]:
for i in c.execute('select * from fsds where marks > 400'):
    print(i)

('pallavi', 3555, 4456.89)
('pallavi', 3555, 4456.89)
('pallavi', 3555, 4456.89)
('pallavi', 3555, 4456.89)
('pallavi', 3555, 4456.89)

In [17]:
data = c.execute('select * from fsds where name = "pallavi" ')

In [18]:
for i in data:
    print(i)

('pallavi', 3555, 4456.89)
('pallavi', 3555, 4456.89)
('pallavi', 3555, 4456.89)
('pallavi', 3555, 4456.89)
('pallavi', 3555, 4456.89)

In [19]:
for i in c.execute('select name, marks from fsds'):
    print(i)

('pallavi', 4456.89)
('pallavi', 4456.89)
('pallavi', 4456.89)
('pallavi', 4456.89)
('pallavi', 4456.89)

In [20]:
for i in c.execute('select name, marks from fsds order by marks'):
    print(i)

('pallavi', 4456.89)
('pallavi', 4456.89)
('pallavi', 4456.89)
('pallavi', 4456.89)
('pallavi', 4456.89)

In [21]:
db.close()

In [22]:
db = sqlite3.connect("person.db")

In [24]:
c = db.cursor()

In [25]:
c.execute('create table person_table (name text, emailis text, age int, salary real)')

In [27]:
c.execute('insert into person_table values("pallavi", "pp@gmail.com",234,23424)')
c.execute('insert into person_table values("uttam", "utam@gmail.com",345,355424)')
c.execute('insert into person_table values("krish", "krish@gmail.com",5248,567724)')
c.execute('insert into person_table values("pallavi", "pp@gmail.com",2345,777545)')

In [28]:
data = c.execute('select *  from person_table')

In [29]:
for i in data:
    print(i)

('pallavi', 'pp@gmail.com', 234, 23424.0)
('uttam', 'utam@gmail.com', 345, 355424.0)
('krish', 'krish@gmail.com', 5248, 567724.0)
('pallavi', 'pp@gmail.com', 2345, 777545.0)

In [31]:
db.commit()

In [32]:
db.close()

In [33]:
db = sqlite3.connect('ineuron.db')

In [34]:
c = db.cursor()

In [35]:
c.execute('drop table fsds')

In [36]:
c.execute('select * from fsds')

OperationalError: no such table: fsds

In [37]:
ls

 Volume in drive D is DATA
 Volume Serial Number is 3C79-8284

 Directory of d:\python_files\test

04-12-2022  11:58    <DIR>          .
04-12-2022  11:58    <DIR>          ..
01-11-2022  23:18            23,886 Assign_1.ipynb
04-12-2022  11:58             8,192 ineuron.db
04-12-2022  11:35             8,192 person.db
04-12-2022  06:29            26,716 practice_mongo.ipynb
04-12-2022  11:22             6,943 sqlLite.ipynb
               5 File(s)         73,929 bytes
               2 Dir(s)  776,298,057,728 bytes free

In [38]:
db.close()

In [39]:
db = sqlite3.connect('person.db')

In [40]:
c = db.cursor()

In [41]:
data = c.execute('select * from person_table limit 2')

In [42]:
for i in data:
    print(i)

('pallavi', 'pp@gmail.com', 234, 23424.0)
('uttam', 'utam@gmail.com', 345, 355424.0)

In [43]:
db.close()

#join operation

In [75]:
db = sqlite3.connect("join_db.db")

In [76]:
c = db.cursor()

In [77]:
c.execute('create table student(stu_id int, stu_name text, stu_mail text, marks int)')

In [78]:
c.execute('create table address(stu_id int, pincode int, location text, nearby text, phone_no int)')

In [79]:
c.execute('insert into student values(234, "pallavi", "pallavi@gmail.com", 2345 )')
c.execute('insert into student values(235, "pall", "pallavi@gmail.com", 2345 )')
c.execute('insert into student values(236, "pal", "pallavi@gmail.com", 2345 )')
c.execute('insert into student values(237, "pp", "pallavi@gmail.com", 2345 )')
c.execute('insert into student values(238, "avi", "pallavi@gmail.com", 2345 )')
c.execute('insert into student values(239, "lavi", "pallavi@gmail.com", 2345 )')
c.execute('insert into student values(2310, "pali", "pallavi@gmail.com", 2345 )')
c.execute('insert into student values(2311, "pavi", "pallavi@gmail.com", 2345 )')
c.execute('insert into student values(2312, "pai", "pallavi@gmail.com", 2345 )')
c.execute('insert into student values(2313, "pallavi", "pallavi@gmail.com", 2345 )')

In [80]:
c.execute("insert into address values(235, 560034, 'whitefield','ineuron office', 4861699222)")
c.execute("insert into address values(234, 560034, 'whitefield','ineuron office', 4861699222)")
c.execute("insert into address values(236, 560034, 'whitefield','ineuron office', 4861699222)")
c.execute("insert into address values(237, 560034, 'whitefield','ineuron office', 4861699222)")
c.execute("insert into address values(238, 560034, 'whitefield','ineuron office', 4861699222)")
c.execute("insert into address values(239, 560034, 'whitefield','ineuron office', 4861699222)")
c.execute("insert into address values(2310, 560034, 'whitefield','ineuron office', 4861699222)")
c.execute("insert into address values(2311, 560034, 'whitefield','ineuron office', 4861699222)")
c.execute("insert into address values(2312, 560034, 'whitefield','ineuron office', 4861699222)")
c.execute("insert into address values(2313, 560034, 'whitefield','ineuron office', 4861699222)")

In [81]:
data = c.execute('select * from address')
for i in data:
    print(i)

(235, 560034, 'whitefield', 'ineuron office', 4861699222)
(234, 560034, 'whitefield', 'ineuron office', 4861699222)
(236, 560034, 'whitefield', 'ineuron office', 4861699222)
(237, 560034, 'whitefield', 'ineuron office', 4861699222)
(238, 560034, 'whitefield', 'ineuron office', 4861699222)
(239, 560034, 'whitefield', 'ineuron office', 4861699222)
(2310, 560034, 'whitefield', 'ineuron office', 4861699222)
(2311, 560034, 'whitefield', 'ineuron office', 4861699222)
(2312, 560034, 'whitefield', 'ineuron office', 4861699222)
(2313, 560034, 'whitefield', 'ineuron office', 4861699222)

In [82]:
data = c.execute('select * from student')
for i in data:
    print(i)

(234, 'pallavi', 'pallavi@gmail.com', 2345)
(235, 'pall', 'pallavi@gmail.com', 2345)
(236, 'pal', 'pallavi@gmail.com', 2345)
(237, 'pp', 'pallavi@gmail.com', 2345)
(238, 'avi', 'pallavi@gmail.com', 2345)
(239, 'lavi', 'pallavi@gmail.com', 2345)
(2310, 'pali', 'pallavi@gmail.com', 2345)
(2311, 'pavi', 'pallavi@gmail.com', 2345)
(2312, 'pai', 'pallavi@gmail.com', 2345)
(2313, 'pallavi', 'pallavi@gmail.com', 2345)

try to print address of students presnt in studet table using join

In [86]:
data = c.execute('select * from student s left join address a on s.stu_id = a.stu_id ')

In [87]:
for i in data:
    print(i)

(234, 'pallavi', 'pallavi@gmail.com', 2345, 234, 560034, 'whitefield', 'ineuron office', 4861699222)
(235, 'pall', 'pallavi@gmail.com', 2345, 235, 560034, 'whitefield', 'ineuron office', 4861699222)
(236, 'pal', 'pallavi@gmail.com', 2345, 236, 560034, 'whitefield', 'ineuron office', 4861699222)
(237, 'pp', 'pallavi@gmail.com', 2345, 237, 560034, 'whitefield', 'ineuron office', 4861699222)
(238, 'avi', 'pallavi@gmail.com', 2345, 238, 560034, 'whitefield', 'ineuron office', 4861699222)
(239, 'lavi', 'pallavi@gmail.com', 2345, 239, 560034, 'whitefield', 'ineuron office', 4861699222)
(2310, 'pali', 'pallavi@gmail.com', 2345, 2310, 560034, 'whitefield', 'ineuron office', 4861699222)
(2311, 'pavi', 'pallavi@gmail.com', 2345, 2311, 560034, 'whitefield', 'ineuron office', 4861699222)
(2312, 'pai', 'pallavi@gmail.com', 2345, 2312, 560034, 'whitefield', 'ineuron office', 4861699222)
(2313, 'pallavi', 'pallavi@gmail.com', 2345, 2313, 560034, 'whitefield', 'ineuron office', 4861699222)

In [83]:
data = c.execute('select * from student s left join address a on s.stu_id = a.stu_id where a.stu_id is not null')

In [84]:
for i in data:
    print(i)

(235, 'pall', 'pallavi@gmail.com', 2345, 235, 560034, 'whitefield', 'ineuron office', 4861699222)
(234, 'pallavi', 'pallavi@gmail.com', 2345, 234, 560034, 'whitefield', 'ineuron office', 4861699222)
(236, 'pal', 'pallavi@gmail.com', 2345, 236, 560034, 'whitefield', 'ineuron office', 4861699222)
(237, 'pp', 'pallavi@gmail.com', 2345, 237, 560034, 'whitefield', 'ineuron office', 4861699222)
(238, 'avi', 'pallavi@gmail.com', 2345, 238, 560034, 'whitefield', 'ineuron office', 4861699222)
(239, 'lavi', 'pallavi@gmail.com', 2345, 239, 560034, 'whitefield', 'ineuron office', 4861699222)
(2310, 'pali', 'pallavi@gmail.com', 2345, 2310, 560034, 'whitefield', 'ineuron office', 4861699222)
(2311, 'pavi', 'pallavi@gmail.com', 2345, 2311, 560034, 'whitefield', 'ineuron office', 4861699222)
(2312, 'pai', 'pallavi@gmail.com', 2345, 2312, 560034, 'whitefield', 'ineuron office', 4861699222)
(2313, 'pallavi', 'pallavi@gmail.com', 2345, 2313, 560034, 'whitefield', 'ineuron office', 4861699222)

In [85]:
data = c.execute('select * from student s right join address a on s.stu_id = a.stu_id where a.stu_id is not null')

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

In [89]:
data = c.execute('select * from address s left join student a on s.stu_id = a.stu_id where a.stu_id is not null') 
for i in data:
    print(i)

(234, 560034, 'whitefield', 'ineuron office', 4861699222, 234, 'pallavi', 'pallavi@gmail.com', 2345)
(235, 560034, 'whitefield', 'ineuron office', 4861699222, 235, 'pall', 'pallavi@gmail.com', 2345)
(236, 560034, 'whitefield', 'ineuron office', 4861699222, 236, 'pal', 'pallavi@gmail.com', 2345)
(237, 560034, 'whitefield', 'ineuron office', 4861699222, 237, 'pp', 'pallavi@gmail.com', 2345)
(238, 560034, 'whitefield', 'ineuron office', 4861699222, 238, 'avi', 'pallavi@gmail.com', 2345)
(239, 560034, 'whitefield', 'ineuron office', 4861699222, 239, 'lavi', 'pallavi@gmail.com', 2345)
(2310, 560034, 'whitefield', 'ineuron office', 4861699222, 2310, 'pali', 'pallavi@gmail.com', 2345)
(2311, 560034, 'whitefield', 'ineuron office', 4861699222, 2311, 'pavi', 'pallavi@gmail.com', 2345)
(2312, 560034, 'whitefield', 'ineuron office', 4861699222, 2312, 'pai', 'pallavi@gmail.com', 2345)
(2313, 560034, 'whitefield', 'ineuron office', 4861699222, 2313, 'pallavi', 'pallavi@gmail.com', 2345)

In [91]:
c.execute('delete from student where stu_id > 2000')

In [92]:
data = c.execute('select * from student')
for i in data:
    print(i)

(234, 'pallavi', 'pallavi@gmail.com', 2345)
(235, 'pall', 'pallavi@gmail.com', 2345)
(236, 'pal', 'pallavi@gmail.com', 2345)
(237, 'pp', 'pallavi@gmail.com', 2345)
(238, 'avi', 'pallavi@gmail.com', 2345)
(239, 'lavi', 'pallavi@gmail.com', 2345)

In [94]:
data = c.execute('select * from student')
data.fetchall()

[(234, 'pallavi', 'pallavi@gmail.com', 2345),
 (235, 'pall', 'pallavi@gmail.com', 2345),
 (236, 'pal', 'pallavi@gmail.com', 2345),
 (237, 'pp', 'pallavi@gmail.com', 2345),
 (238, 'avi', 'pallavi@gmail.com', 2345),
 (239, 'lavi', 'pallavi@gmail.com', 2345)]

In [95]:
data = c.execute('update student set stu_id = 2000 where stu_id = 236')

In [96]:
data = c.execute('select * from student')
data.fetchall()

[(234, 'pallavi', 'pallavi@gmail.com', 2345),
 (235, 'pall', 'pallavi@gmail.com', 2345),
 (2000, 'pal', 'pallavi@gmail.com', 2345),
 (237, 'pp', 'pallavi@gmail.com', 2345),
 (238, 'avi', 'pallavi@gmail.com', 2345),
 (239, 'lavi', 'pallavi@gmail.com', 2345)]

In [98]:
db.close()